<% provide(:title, "User - #{@user.account}") %>
<p class="show_user">Account: <%= @user.account %><br/></p>
<p>Email: <%= @user.email %><br/></p>
<%= link_to "Add project", "/users/#{@user.id}/projects/new", class: "btn btn-info" %>
<div class="container backgr">
	<% @relation = Relation.where(assign_id: @user.id) %>
	<% if @relation %>
		<% @relation.each do |pr| %>
			<% project = Project.find(pr.project_id) %>
			<% user = User.find(project.user_id) %>
			<%= link_to "ID: #{project.id}", "/users/#{@user.id}/projects/#{project.id}", class: "link" %>
			<p class="display">People created: <%= user.account %></p>
			<p class="display">Project name: <%= project.project_name %></p>
			<p class="display">Description:</p><%= simple_format(project.description) %>
		<% end %>
	<% end %>
</div>
