<% provide(:title,"Edit issue") %>
<h1>Edit issue</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@issue, url: {action: :update_issue, controller: :projects}) do |f| %>

      <%= render 'shared/errors_issue' %>
			<%= f.label :issue_name %>
      <%= f.text_field :issue_name, class: 'form-control' %>

      <%= f.label :issue_decription, "Description" %>
      <%= f.text_area :issue_decription, class: 'form-control', rows: "6" %>

    
      <br/>
      <div class="row">
        <div class="col-md-4 col1">
          <%= f.label :assign_id %>
          <%= f.select :assign_id, options_for_select(@assign.map{ |us| [us.account, us.id] }, @current_assign.id), class: 'form-control' %>
        </div>

        <div class="col-md-4 col2">
          <%= f.label :status %>
          <%= f.select :status, options_for_select(@status.map{ |st| [st] }, @issue.status)%>
        </div>

        <div class="col-md-4 col3">
          <%= f.label :priority %>
          <%= f.select :priority, options_for_select(@priority.map{ |pr| [pr] }, @issue.priority) %>
        </div>     
      </div>
      <br/>
      <%= f.label :start_date %>
      <%= f.date_select :start_date, class: 'form-control', :start_year => Time.now.year, :end_year => Time.now.year + 10 %>

      <%= f.hidden_field :project_id, :value => @project.id,class: 'form-control' %>

      <%= f.hidden_field :user_id, :value => @user.id,class: 'form-control' %>

      <%= f.label :due_date, class: 'str' %>
      <%= f.date_select :due_date, class: 'form-control', :start_year => Time.now.year, :end_year => Time.now.year + 10 %>
      <br/>
      <br/>

      <%= f.submit "Update issue", class: "btn btn-info" %>
    <% end %>
  </div>
</div>