<% provide(:title, "#{@project.user.account} - Project #{@project.id}") %>

<p>People created: <%= @project.user.account %></p>
<p>Project name: <%= @project.project_name %></p>
<p>Description:</p> <%= simple_format(@project.description) %>
<%= link_to "Edit project", edit_project_path, class: 'btn btn-info' %>
<%= link_to "Delete project", project_path, method: :delete, data: { confirm: "Are you sure?" },class: 'btn btn-info' %>