<% provide(:title, "All issue") %>
<% if @project.issues.nil? %>

<% else %>
	<table class="table table-striped">
		<thead>
			<th>Subject</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Creator</th>
			<th>Assign</th>
		</thead>
		<% @project.issues.each do |pr| %>
			<% assign = User.find(pr.assign_id) %>
			<% user = User.find(current_user.id) %>
			<% users = User.find(pr.user_id) %>
			<tbody>
				<tr>
					<td><%= link_to pr.issue_name, "show_issue_create/#{pr.id}" %></td>
					<td><%= pr.status %></td>
					<td><%= pr.priority %></td>
					<td><%= users.account %></td>
					<td><%= assign.account %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>