<% boss_project = User.find(@project.user_id) %>
<% provide(:title, "#{current_user.account} - Project #{@project.id}") %>

<p>People created: <%= boss_project.account %></p>
<p>Project name: <%= @project.project_name %></p>
<p>Description:</p> <%= simple_format(@project.description) %>
<% if current_user.id ==  @project.user_id %>
	<%= link_to "Edit project", "/projects/#{@project.id}/edit", class: 'btn btn-info' %>
	<%= link_to "Delete project", project_path(@project.id), method: :delete, data: { confirm: "Are you sure?" },class: 'btn btn-info' %>
	<%= link_to "Add developer", "/projects/#{@project.id}/add_developers/new", class: 'btn btn-info' %>
<% end %>