<nav class="navbar navbar-inverse">
	<div class="container-fluid">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to image_tag("logo.png", :height => 17), current_user %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in || @project %>
          <li><%= link_to "Users", current_user %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li> <!---->
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        <% else %>
      		<ul class="nav navbar-nav navbar-right">
      			<li><%= link_to "Sign in", root_path %></li>
            <li><%= link_to "Sign up", "/new" %></li>
          </ul>
        <% end %>
      </ul>
    </nav>
	</div>
</nav>

<% if !@project.nil? %>
  <nav class="navbar navbar-default", id="navb">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <nav>
              <ul class="nav navbar-nav">
                <li><%= link_to "Overview", "/projects/#{@project.id}/show_issue" %></li>
              </ul> 
            </nav>
          </div>
          <div class="col-md-4">
            <nav>
              <ul class="nav navbar-nav">
                <li><%= link_to "Issue", "/projects/#{@project.id}/show_issue" %></li>
              </ul>
            </nav>
          </div>
          <div class="col-md-4">
            <nav>
              <ul class="nav navbar-nav">
                <li><%= link_to "New issue", "/projects/#{@project.id}/new_issue" %></li>
              </ul>
            </nav>
          </div>
        </div>
    </div>
  </nav>
<% end %>

<% if logged_in %>
  <nav class="navbar navbar-inverse naq">
    <div class="nav navbar navbar-right">
      <button class="btn btn-danger btnr">Select project</button>
      <div id="prj">
        <ul style="margin-top: 7px;">
          <% rela = Relation.where(assign_id: current_user.id) %>
          <% rela.each do |pr| %>
            <% project = Project.find(pr.project_id) %>
            <li><%= link_to project.project_name, "/projects/#{project.id}", class: 'dsprj' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<% end %>